modules = ["dotnet-7.0"]
run = "-run"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "-run"]

[workflows]
runButton = "Unity Dev"

[[workflows.workflow]]
name = "Unity Dev"
author = 40986401
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dotnet build"
